<h2 class="text-center text-primary">Редактирай въпрос</h2>
<form [formGroup]="editForm">
    <mat-form-field class="w-100">
        <mat-label>Въпрос</mat-label>
        <input matInput placeholder="Заглавие на въпроса" formControlName="title">
    </mat-form-field>
    <mat-form-field class="w-100">
        <mat-label>Напишете кратко описание на въпроса</mat-label>
        <textarea matInput placeholder="Напишете кратко описание на въпроса" formControlName="description"></textarea>
    </mat-form-field>
</form>
<div class="add-answer">
    <mat-form-field class="w-100">
        <mat-label>Отговор</mat-label>
        <input matInput placeholder="Отговор" [(ngModel)]="content">
    </mat-form-field>
    <div class="d-flex justify-content-between">
        <mat-checkbox [(ngModel)]="isCorrect">Верен отговор</mat-checkbox>
        <button class="btn btn-primary" (click)="addAnswer()">{{ question.answers.length }} Добави отговора</button>
    </div>
</div>
<ul *ngIf="question" class="answers">
    <li matTooltip="Изтрии отговора" matTooltipClass="bg-danger" *ngFor="let answer of question.answers; let i = index" class="d-flex justify-content-between p-2 m-2 rounded shadow bg-primary text-light" (click)="removeAnswer(i)">
        <span>{{ answer.content }}</span>
        <span>{{ answer.isCorrect ? "Верен отговор" : "Грешен отговор" }}</span>
    </li>
</ul>
<div class="d-flex justify-content-between my-2">
    <button type="button" [disabled]="!editForm.valid" (click)="editQuestion()" class="btn btn-outline-primary">Редактирай</button>
    <button type="button" (click)="closeWindow()" class="btn btn-outline-danger">Откажи</button>
</div>