<div *ngIf="currentQuestion">
    <h2 class="text-center py-4 text-light">Въпрос {{ currentQuestionIndex }} / {{ questions.length }}</h2>
    <h2 class="p-4 m-2 bg-primary shadow rounded text-light text-center">{{ currentQuestion.title }}</h2>
    <div class="d-flex justify-content-center">
        <button mat-button class="p-4 m-2 bg-primary shadow rounded text-light" *ngFor="let answer of currentQuestion.answers; let i = index" (click)="nextQuestion(i)">{{ answer.content }}</button>
    </div>
</div>