<h2 class="text-center text-success">Нова категория</h2>
<form [formGroup]="addForm">
    <mat-form-field class="w-100">
        <mat-label>Нова категория</mat-label>
        <input matInput type="text" placeholder="Нова категория" formControlName="title">
    </mat-form-field>
    <div class="d-flex justify-content-center">
        <button mat-button [disabled]="addForm.invalid" (click)="addCategory()" color="primary">Добави</button>
        <button [mat-dialog-close]="" class="mx-2" mat-mini-fab color="warn"><i class="material-icons">undo</i></button>
    </div>
</form>