<h2 class="text-center text-success"><i class="material-icons">add</i> Нова категория</h2>
<form [formGroup]="addForm">
    <mat-form-field class="w-100">
        <mat-label>Нова категория</mat-label>
        <input matInput type="text" placeholder="Нова категория" formControlName="title">
    </mat-form-field>
    <div class="d-flex justify-content-center">
        <button mat-button [disabled]="addForm.invalid" (click)="addCategory()" color="primary">Добави</button>
        <button class="btn btn-primary mx-2" (click)="showAll()">Всички</button>
        <button [mat-dialog-close]="" mat-button color="warn">Откажи</button>
    </div>
</form>